In [1]:
import os
import sys
import argparse
from pydub import AudioSegment
import glob
import shutil
import pandas as pd
import numpy as np
from preprocessing import *

In [2]:
convert_m4a_to_wav()

In [3]:
df = make_dataframe()
df

        filename  class  classID
0    angry_8.wav  angry        0
1    angry_9.wav  angry        0
2   angry_45.wav  angry        0
3   angry_44.wav  angry        0
4   angry_40.wav  angry        0
..           ...    ...      ...
82   angry_4.wav  angry        0
83   happy_2.wav  happy        1
84  happy_44.wav  happy        1
85   happy_3.wav  happy        1
86   angry_5.wav  angry        0

[87 rows x 3 columns]

In [4]:
remove_silence()
normalize_data()

0 -- 35.80% of data will be removed
10 -- 56.69% of data will be removed
20 -- 33.22% of data will be removed
30 -- 35.58% of data will be removed
40 -- 59.35% of data will be removed
50 -- 32.08% of data will be removed
60 -- 65.08% of data will be removed
70 -- 56.88% of data will be removed
80 -- 66.37% of data will be removed

/Users/manami/PHYS4606/final_project/preprocessing.py:88: RuntimeWarning: overflow encountered in short_scalars
  diff = abs(max(data) - min(data))
/Users/manami/PHYS4606/final_project/preprocessing.py:93: RuntimeWarning: overflow encountered in short_scalars
  _d = float((d - min_data) / diff)

In [5]:
df = pd.read_csv('../dataframe.csv')
df

    Unnamed: 0      filename  class  classID
0            0   angry_8.wav  angry        0
1            1   angry_9.wav  angry        0
2            2  angry_45.wav  angry        0
3            3  angry_44.wav  angry        0
4            4  angry_40.wav  angry        0
..         ...           ...    ...      ...
82          82   angry_4.wav  angry        0
83          83   happy_2.wav  happy        1
84          84  happy_44.wav  happy        1
85          85   happy_3.wav  happy        1
86          86   angry_5.wav  angry        0

[87 rows x 4 columns]

In [9]:
len(df[df['classID'] == 0])

44

#### Dataset Breakdown:
    Angry - 44 audio data
    Happy - 43 audio data
    ---------------------
    
    Total = 87 audio data