In [1]:
import os
import sys
import argparse
from pydub import AudioSegment
import glob
import shutil
import pandas as pd
import numpy as np
from preprocessing import *

In [2]:
convert_m4a_to_wav()

In [3]:
df = make_dataframe()
df

{'filename': ['angry1.wav', 'angry2.wav', 'happy1.wav', 'happy2.wav'], 'class': ['angry', 'angry', 'happy', 'happy'], 'classID': [0, 0, 1, 1]}

     filename  class  classID
0  angry1.wav  angry        0
1  angry2.wav  angry        0
2  happy1.wav  happy        1
3  happy2.wav  happy        1

In [4]:
remove_silence()
normalize_data()

1 -- 30.97% of data will be removed
2 -- 47.89% of data will be removed
3 -- 54.98% of data will be removed
4 -- 43.52% of data will be removed

In [6]:
df = pd.read_csv('../dataframe.csv')
df

   Unnamed: 0    filename  class  classID
0           0  angry1.wav  angry        0
1           1  angry2.wav  angry        0
2           2  happy1.wav  happy        1
3           3  happy2.wav  happy        1